@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* For dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit
}

/* For dark mode*/
.mary-table-pagination button {
    @apply bg-base-100
}

*{
    scrollbar-width: thin;
    scrollbar-color: #3004de;
}

.typing-effect {
    border-right: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}


@layer components {

    .bg-secondary-300{
        background-color: green;
    }

    .text-postive-400{
        color: green;
    }
    .text-negative-400{
        color: red;
    }
    .text-info-400{
        color: blue;
    }

    .ease-linear .duration-150 {
        background-color: gray;
        color: white;
    }
    .ease-linear .duration-150:hover {
        background-color: blue;
        color: white;
    }

   div.animate-linear-progress{
        background-color: blue;
   }

   #search{
    color: white;
   }
}


 @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .animate-marquee {
        animation: marquee 20s linear infinite;
    }


/* #toast-container>.toast {
    background-image: none !important;
}

#toast-container>.toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}

#toast-container>.toast-warning:before {
    content: "\f003";
}

#toast-container>.toast-error:before {
    content: "\f001";
}

#toast-container>.toast-info:before {
    content: "\f005";
} */

/* #toast-container>.toast-success:before {
    content: "\f002";
} */
